/* Directional polar plot
 * -------------------------------------- */
svg.polar-plot .ring-label {
  font-size: 14px;
  text-anchor: middle;
  z-index: 10;
  fill: #999;
  font-weight: bold;
}
svg.polar-plot .ring {
  fill: #CCC;
}
svg.polar-plot .ring.last-child {
  stroke: #CCC;
}
svg.polar-plot .axis {
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 1px;
  z-index: 1;
}
svg.polar-plot .axis-label {
  font-size: 15px;
  text-anchor: middle;
  fill: #999;
}
svg.polar-plot .direction {
  stroke: yellow;
  stroke-width: 3px;
}
svg.polar-plot .radial {
  stroke-width: 3px;
  fill-opacity: 0.3;
}
svg.polar-plot .point {
  stroke-width: 2px;
  fill: #FFF;
}

/* Horizontal bar chart
 * -------------------------------------- */
svg.bar-chart .axis-label {
  fill: #999;
  font-size: 12px;
  text-anchor: middle;
}
svg.bar-chart .chart {
  stroke: #AAA;
  fill: #EEE;
}
svg.bar-chart .line {
  stroke: #CCC;
  stroke-width: 1px;
}
svg.bar-chart .label {
  display: none;
}
svg.bar-chart .section {
  fill: #AAA;
  opacity: 0.1;
}

/* Audiogram
 * -------------------------------------- */
svg.audiogram .domain {
  shape-rendering: crispEdges;
  fill: none;
  stroke: #000;
}
svg.audiogram .axis text {
  font-size: 10px;
}
svg.audiogram .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
svg.audiogram .right {
  fill: blue;
}
svg.audiogram .left {
  fill: red;
}
svg.audiogram .grid .tick {
  stroke: #CCC;
  opacity: 0.7;
}
