/* Directional polar plot
 * -------------------------------------- */
svg.polar-plot .ring-label {
  font-size: 14px;
  text-anchor: middle;
  z-index: 10;
  fill: #999;
  font-weight: bold;
}
svg.polar-plot .ring {
  fill: #CCC;
}
svg.polar-plot .ring.last-child {
  stroke: #CCC;
}
svg.polar-plot .axis {
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 1px;
  z-index: 1;
}
svg.polar-plot .axis-label {
  font-size: 15px;
  text-anchor: middle;
  fill: #999;
}
svg.polar-plot .direction {
  stroke: yellow;
  stroke-width: 3px;
}
svg.polar-plot .radial {
  stroke-width: 3px;
  fill-opacity: 0.3;
}
svg.polar-plot .point {
  stroke-width: 2px;
  fill: #FFF;
}
svg.polar-plot.rightPlot,
svg.polar-plot.leftPlot {
  position: absolute;
  top: 0;
  -webkit-transition: all;
  -webkit-transition: all;
}
svg.polar-plot.rightPlot {
  right: 0;
}
svg.polar-plot.leftPlot {
  left: 0;
}
svg.polar-plot.rightPlot.merge {
  right: 50%;
}
svg.polar-plot.leftPlot.merge {
  left: 50%;
}
svg.polar-plot.merge .axis-label,
svg.polar-plot.merge .ring-label {
  animation: merge-text;
  -webkit-animation: merge-text;
}
svg.polar-plot.merge .ring {
  animation: merge-graph;
  -webkit-animation: merge-graph;
}
svg.polar-plot.unmerge .axis-label,
svg.polar-plot.unmerge .ring-label {
  animation: unmerge-text;
  -webkit-animation: unmerge-text;
}
svg.polar-plot.unmerge .ring {
  animation: unmerge-graph;
  -webkit-animation: unmerge-graph;
}

@keyframes merge-text {
  0%   { opacity: 1; }
  25%   { opacity: 0; }
  90%   { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes merge-text {
  0%   { opacity: 1; }
  25%   { opacity: 0; }
  90%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes unmerge-text {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes unmerge-text {
  0%, 40% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes merge-graph {
  0%, 100% { opacity: 1; }
  25%, 60% { opacity: 0; }
}
@-webkit-keyframes unmerge-graph {
  0%, 20% { opacity: 0; }
  100% { opacity: 1; }
}

/* Horizontal bar chart
 * -------------------------------------- */
svg.bar-chart .axis-label {
  fill: #999;
  font-size: 12px;
  text-anchor: middle;
}
svg.bar-chart .chart {
  stroke: #AAA;
  fill: #EEE;
}
svg.bar-chart .line {
  stroke: #CCC;
  stroke-width: 1px;
}
svg.bar-chart .label {
  display: none;
}
svg.bar-chart .section {
  fill: #AAA;
  opacity: 0.1;
}

/* Audiogram
 * -------------------------------------- */
svg.audiogram .domain {
  shape-rendering: crispEdges;
  fill: none;
  stroke: #000;
}
svg.audiogram .axis text {
  font-size: 10px;
}
svg.audiogram .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
svg.audiogram .right {
  fill: blue;
}
svg.audiogram .left {
  fill: red;
}
svg.audiogram .grid .tick {
  stroke: #CCC;
  opacity: 0.7;
}
