/* Directional polar plot
 * -------------------------------------- */
svg.polar-plot .ring-label {
  font-size: 14px;
  text-anchor: middle;
  z-index: 10;
  fill: #999;
  font-weight: bold;
}
svg.polar-plot .ring {
  fill: #CCC;
}
svg.polar-plot .ring.last-child {
  stroke: #CCC;
}
svg.polar-plot .axis {
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 1px;
  z-index: 1;
}
svg.polar-plot .axis-label {
  font-size: 15px;
  text-anchor: middle;
  fill: #999;
}
svg.polar-plot .direction {
  stroke: yellow;
  stroke-width: 3px;
}
svg.polar-plot .radial {
  stroke-width: 3px;
  fill-opacity: 0.3;
}
svg.polar-plot .point {
  stroke-width: 2px;
  fill: #FFF;
}
svg.polar-plot.rightPlot,
svg.polar-plot.leftPlot {
  position: absolute;
  top: 0;
  -webkit-transition: all;
}
svg.polar-plot.rightPlot {
  right: 0;
}
svg.polar-plot.leftPlot {
  left: 0;
}
svg.polar-plot.rightPlot.merge {
  right: 50%;
}
svg.polar-plot.leftPlot.merge {
  left: 50%;
}
svg.polar-plot.merge .axis-label,
svg.polar-plot.merge .ring-label {
  animation: merge-text;
  -webkit-animation: merge-text;
}
svg.polar-plot.merge .ring {
  animation: merge-graph;
  -webkit-animation: merge-graph;
}
svg.polar-plot.unmerge .axis-label,
svg.polar-plot.unmerge .ring-label {
  animation: unmerge-text;
  -webkit-animation: unmerge-text;
}
svg.polar-plot.unmerge .ring {
  animation: unmerge-graph;
  -webkit-animation: unmerge-graph;
}
@keyframes merge-text {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes merge-text {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes unmerge-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes unmerge-text {
  0%,
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes merge-graph {
  0%,
  100% {
    opacity: 1;
  }
  25%,
  60% {
    opacity: 0;
  }
}
@-webkit-keyframes unmerge-graph {
  0%,
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Horizontal bar chart
 * -------------------------------------- */
svg.bar-chart .axis-label {
  fill: #999;
  font-size: 12px;
  text-anchor: middle;
}
svg.bar-chart .chart {
  stroke: #AAA;
  fill: #EEE;
}
svg.bar-chart .line {
  stroke: #CCC;
  stroke-width: 1px;
}
svg.bar-chart .bar {
  fill-opacity: 0.3;
}
svg.bar-chart .end_cap {
  stroke-width: 3px;
}
svg.bar-chart .label {
  display: none;
}
svg.bar-chart .section {
  fill: #AAA;
  opacity: 0.1;
}
/* Audiogram
 * -------------------------------------- */
svg.audiogram .domain {
  shape-rendering: crispEdges;
  fill: none;
  stroke: #000;
}
svg.audiogram .axis text {
  font-size: 10px;
}
svg.audiogram .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
svg.audiogram .right {
  fill: blue;
}
svg.audiogram .left {
  fill: red;
}
svg.audiogram .grid .tick {
  stroke: #CCC;
  opacity: 0.7;
}
/* Plot Colors
 * -------------------------------------- */
.graph-wrapper .color-coded:nth-child( 1) .radial,
svg .color-coded:nth-child( 1) .radial {
  fill: #378127;
  stroke: #378127;
}
.graph-wrapper .color-coded:nth-child( 1) .point,
svg .color-coded:nth-child( 1) .point {
  stroke: #378127;
}
.graph-wrapper .color-coded:nth-child( 1) .bar,
svg .color-coded:nth-child( 1) .bar {
  fill: #378127;
}
.graph-wrapper .color-coded:nth-child( 1) .end_cap,
svg .color-coded:nth-child( 1) .end_cap {
  stroke: #378127;
}
.graph-wrapper .color-coded:nth-child( 1) a.label.active,
svg .color-coded:nth-child( 1) a.label.active {
  border-color: #378127;
  background: #a2df95;
}
.graph-wrapper .color-coded:nth-child( 2) .radial,
svg .color-coded:nth-child( 2) .radial {
  fill: #592699;
  stroke: #592699;
}
.graph-wrapper .color-coded:nth-child( 2) .point,
svg .color-coded:nth-child( 2) .point {
  stroke: #592699;
}
.graph-wrapper .color-coded:nth-child( 2) .bar,
svg .color-coded:nth-child( 2) .bar {
  fill: #592699;
}
.graph-wrapper .color-coded:nth-child( 2) .end_cap,
svg .color-coded:nth-child( 2) .end_cap {
  stroke: #592699;
}
.graph-wrapper .color-coded:nth-child( 2) a.label.active,
svg .color-coded:nth-child( 2) a.label.active {
  border-color: #592699;
  background: #c2a3e8;
}
.graph-wrapper .color-coded:nth-child( 3) .radial,
svg .color-coded:nth-child( 3) .radial {
  fill: #d254de;
  stroke: #d254de;
}
.graph-wrapper .color-coded:nth-child( 3) .point,
svg .color-coded:nth-child( 3) .point {
  stroke: #d254de;
}
.graph-wrapper .color-coded:nth-child( 3) .bar,
svg .color-coded:nth-child( 3) .bar {
  fill: #d254de;
}
.graph-wrapper .color-coded:nth-child( 3) .end_cap,
svg .color-coded:nth-child( 3) .end_cap {
  stroke: #d254de;
}
.graph-wrapper .color-coded:nth-child( 3) a.label.active,
svg .color-coded:nth-child( 3) a.label.active {
  border-color: #d254de;
  background: #ffffff;
}
.graph-wrapper .color-coded:nth-child( 4) .radial,
svg .color-coded:nth-child( 4) .radial {
  fill: #fab937;
  stroke: #fab937;
}
.graph-wrapper .color-coded:nth-child( 4) .point,
svg .color-coded:nth-child( 4) .point {
  stroke: #fab937;
}
.graph-wrapper .color-coded:nth-child( 4) .bar,
svg .color-coded:nth-child( 4) .bar {
  fill: #fab937;
}
.graph-wrapper .color-coded:nth-child( 4) .end_cap,
svg .color-coded:nth-child( 4) .end_cap {
  stroke: #fab937;
}
.graph-wrapper .color-coded:nth-child( 4) a.label.active,
svg .color-coded:nth-child( 4) a.label.active {
  border-color: #fab937;
  background: #fffffe;
}
